.header {	    
	
    text-align: center;
    font-family: 'pokemonSolid';    
    letter-spacing: 10px;       
    background-image: linear-gradient(to bottom right, rgb(61, 125, 202), rgb(0, 58, 112));
    padding: 2rem;   
}

.links{
    font-size: 1rem;
    font-family: 'berlinSans';
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
}

h1 {
    margin: 0;
    font-size: 72px;
    color: #FFDE00; 
  }