.header {	    
	
    text-align: center;
    font-family: 'pokemonSolid';    
    letter-spacing: 10px;       
    background-image: linear-gradient(to bottom right, rgb(61, 125, 202), rgb(0, 58, 112));
    padding: 2rem;   
}



a[ng-reflect-router-link] {
    font-size: 1.2rem;
    font-family: 'berlinSans';
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(240, 69, 69);
    padding-bottom: 1.5rem;
}

a[ng-reflect-router-link]:hover {
    transform:scale(1.1);
 
}

h1 {
    margin: 0;
    font-size: 72px;
    color: #FFDE00; 
  }