<div class="flex"> 
  

    <div class="pokemonBase">
    <div class="pokemonName">
      {{name}}
    </div>
    <div class="pokemonTypes" *ngFor="let type of types">{{type.type.name}} </div>
    <div class="pokemonPicture">
      <img src="{{pic}}" alt="Picture of {{name}} pokemon" width="250">  
    </div>
    </div>  

  <div class="statsProfileWrap">
  <div class ="pokemonStats">    
    <div *ngFor="let stat of baseStats" >            
      {{stat.stat.name}}: {{stat.base_stat}} 
    </div> 
  </div>



  <div class="pokemonProfile">
    {{name}} abilities
    <div class="pokemonAbilities" *ngFor="let ability of abilities">{{ability.ability.name}}</div>
    <div>Height: {{height}} ft</div>
    <div>Weight: {{weight}} lbs</div>
    <div>Base experience: {{baseExp}} xp</div>
  </div>

</div>


  <div>
    <h2>List of the moves {{name}} knows</h2>
  <div *ngFor="let move of moves" class="pokemonMoves">
    {{move.move.name}}
  </div>
  </div>
</div>


