    <div class="paginator">
        <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex">
        </mat-paginator>
    </div>

    <div class="loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div> 


<div *ngIf="!loading">
    <h2>Click on a pokemon to see more information about it and to catch it</h2>
    <app-pokemons [pokemonArray] ="pokemons"></app-pokemons>
</div>