mat-card-title, .pokemonTypes{
    font-family: 'berlinSans';
    text-align: center;
    color:#FFDE00;
    font-size: 1.5rem;
    font-weight: 800;
    font-variant: small-caps;          
}

h3{
  margin-bottom: 2rem;
  text-align: center;
  color: #FFDE00; 
}

.loading{  
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}



